.form-box{
	@extend %clearfix;
	padding: 77px 0 100px;
	border-bottom: 3px solid #ff4e50;
	text-align: center;
	font: 18px/26px "Roboto";
	color: #333;
	@include media ('<tablet'){
		padding: 21px 0 38px;
	}
	h1{
		margin: 0 0 28px;
		@include media ('<tablet'){
			margin: 0 0 7px;
		}
	}
	p{
		margin: 0 0 35px;
		@include media ('<tablet'){
			margin: 0 0 14px;		
		}
	}
}
.form-wrapper{
	@extend %clearfix;
	width: 410px;
	margin: 0 auto;
	@include media ('<tablet'){
		width: 100%;
	}
}
.search-partners{
	@extend %clearfix;
	font-size: 14px;
	@include media ('<tablet'){
		padding: 0 10px; 
	}
}
.search-button{
	float: right;
	width: 160px;
	&:hover{
		border-color: #ff4e50; 
	}
	@include media ('<tablet'){
		width: 100%;
	}
}
.form-input{
	border: 1px solid #cfcfcf;
	float: left;
	padding: 10px 14px;
	width: 240px;
	border-radius: 3px;
	@include media ('<tablet'){
		width: 100%;
		margin: 0 0 10px;
	}
}